<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personal_area.css') }}">
</head>
<body>
<div class="top-bar">
    <div class="user-avatar">
        <img src="{{ url_for('static', filename='path_to_avatar.jpg') }}" class="avatar-img">
        <span class="username">Пользователь</span>
    </div>
    <button onclick="logout()" id="logout-btn" style="display:none;">Выйти из аккаунта</button>
</div>

<div class="auth-buttons" id="auth-buttons">
    <button onclick="showRegisterForm()">Зарегистрироваться</button>
    <button onclick="showLoginForm()">Войти</button>
</div>

<div id="register-form" class="auth-form" style="display:none;">
    <h2>Регистрация</h2>
    <form id="register-form-element">
        <label for="register-username"></label>
        <input type="text" id="register-username" name="username" placeholder="Логин" required>
        <label for="register-password"></label>
        <input type="password" id="register-password" name="password" placeholder="Пароль" required>
        <label for="register-confirm-password"></label>
        <input type="password" id="register-confirm-password" name="confirm-password" placeholder="Подтвердите пароль" required>
        <button type="submit">Продолжить</button>
        <span id="register-error" style="color: red;"></span> <!-- Показывает ошибку при регистрации -->
    </form>
</div>

<div id="login-form" class="auth-form" style="display:none;">
    <h2>Вход</h2>
    <form id="login-form-element">
        <label for="login-username"></label>
        <input type="text" id="login-username" name="username" placeholder="Логин" required>
        <label for="login-password"></label>
        <input type="password" id="login-password" name="password" placeholder="Пароль" required>
        <button type="submit">Продолжить</button>
        <span id="login-error" style="color: red;"></span> <!-- Показывает ошибку при входе -->
    </form>
</div>

<div class="container">
    <button class="personal-area-button">
        <img src="{{ url_for('static', filename='icons/1674365337_3-31.png') }}" class="personal-area-icon">
        <span class="text">Профиль</span>
    </button>
    <button class="search-button" onclick="openSearch()">
        <img src="{{ url_for('static', filename='icons/kisspng-computer-icons-clip-art-openclipart-magnifying-gla-5d31cfdb595331.9238955815635455633659.png') }}" class="search-icon">
        <span class="text">Поиск</span>
    </button>
</div>

<script>
    function openSearch() {
        window.location.href = '/';
    }

    function showRegisterForm() {
        document.getElementById('register-form').style.display = 'block';
        document.getElementById('login-form').style.display = 'none';
    }

    function showLoginForm() {
        document.getElementById('register-form').style.display = 'none';
        document.getElementById('login-form').style.display = 'block';
    }

    function logout() {
        // Логика выхода из аккаунта

        // Изменение отображения элементов
        document.getElementById('auth-buttons').style.display = 'block';
        document.getElementById('register-form').style.display = 'none';
        document.getElementById('login-form').style.display = 'none';
        document.getElementById('logout-btn').style.display = 'none'; // Скрытие кнопки "Выйти из аккаунта"
    }

    // Функция для скрытия сообщения об ошибке через 5 секунд
    function hideErrorMessage() {
        document.getElementById('register-error').style.display = 'none';
    }

    var errorMessageShown = false; // Переменная для отслеживания отображения сообщения об ошибке

    document.getElementById('register-form-element').addEventListener('submit', function(event) {
        event.preventDefault();

        var formData = new FormData(this);

        fetch('{{ url_for("register") }}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                document.getElementById('register-form').style.display = 'none';
                document.getElementById('auth-buttons').style.display = 'none';
                document.getElementById('logout-btn').style.display = 'block'; // Показываем кнопку "Выйти из аккаунта"
                alert('Регистрация прошла успешно!');
            } else {
                if (!errorMessageShown) { // Проверяем, было ли уже отображено сообщение об ошибке
                    document.getElementById('register-error').textContent = 'Пользователь с таким логином уже существует'; // Выводим ошибку
                    document.getElementById('register-error').style.display = 'block'; // Показываем сообщение об ошибке
                    setTimeout(hideErrorMessage, 5000); // Скрыть сообщение об ошибке через 5 секунд
                    errorMessageShown = true; // Устанавливаем значение, указывающее на то, что сообщение об ошибке было показано
                }
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
