body {
    background-color: #333; /* Черный фон */
    color: white; /* Ярко белый цвет текста */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}

.personal-area-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 3px solid springgreen;
    border-radius: 1rem;
    width: 150px;
    height: 80px; /* Уменьшенная высота кнопок */
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0);
    transition: transform 0.5s, box-shadow 0.5s;
    margin-left: 20px;
    margin-top: -100px;
    position: absolute;
}

.search-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 3px solid springgreen;
    border-radius: 1rem;
    width: 150px;
    height: 80px; /* Уменьшенная высота кнопок */
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0);
    transition: transform 0.5s, box-shadow 0.5s;
    margin-left: 220px;
    margin-top: -100px;
    position: absolute;
}

.personal-area-button:hover, .search-button:hover {
    transform: scale(0.9);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
}

.personal-area-icon, .search-icon {
    width: 30px;
    height: 30px;
}

.text {
    margin-top: 5px;
    font-weight: bold;
    color: white;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1; /* Устанавливаем z-index, чтобы элемент находился выше других */
}

.user-avatar {
    position: absolute; /* Абсолютное позиционирование */
    top: -650px; /* Расстояние сверху */
    left: 50%; /* Положение по центру */
    transform: translateX(-50%); /* Сдвигаем влево на половину ширины элемента */
    text-align: center;
}

.avatar-img {
    border: 5px solid springgreen;
    border-radius: 20px;
    width: 100px; /* Размер аватара */
    height: 100px; /* Размер аватара */
}

.username {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 17px; /* Размер текста */
    margin-top: 10px; /* Отступ между аватаром и текстом */
}

.auth-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
}

.auth-buttons button {
    margin-right: 10px;
}

.auth-form {
    display: none;
    background-color: #666;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    border: 3px solid springgreen;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.register-form {
    top: 20%;
}

.login-form !important {
    top: 9%; /* Перемещаем форму входа на 10 пикселей выше */
}

.auth-form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    position: relative;
}

.auth-form .password-container {
    position: relative;
}

.auth-form .toggle-password {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
}

.auth-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #555;
}